{% load static %}
{% include 'shop_header.html' %}
{% block content %}



<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="{% url 'home_app:home' %}" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            My Orders
        </span>
    </div>
</div>
    

<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85" action= "{% url 'order_app:payment' %}" method="POST">
    {% csrf_token %}
    <div class="container">
        {% if not cart_items %}
                    <h3 style="text-align: center;"> Your Shopping Cart is Empty</h3>
                    <br>
                    <br>
                    <div class="text-center" > 
                        <a href="{% url 'shop_app:shop' %}" class="btn btn-secondary" >Continue Shopping</a>
                    </div>
                    {% else %}
        <div class="row">
            
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    
                    <div class="wrap-table-shopping-cart">
                       
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <tr class="table_head">
                                    <th class="column-1">Product</th>
                                    <th class="column-2"></th>
                                    <th class="column-3">Billing Name</th>
                                    <th class="column-4">Phone</th>
                                    <th class="column-2"></th>
                                    <th class="column-5">Order Total</th>
                                    <th class="column-6">Date</th>
                                   
                                </tr>
                               
                               
                            </tr>

                           

                           {% for cart_item in cart_items %}

                            <tr class="table_row">
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                        <img src="{{ cart_item.product.images.url }}" alt="IMG" style="width: 70px; height: 70px;">
                                    </div>
                                    <a href="{{ cart_item.product.get_url }}" style="color: black;">
                                        {{ cart_item.product.product_name }}
                                    </a>
                                    <p style="font-size: 12px;">{% if cart_item.product_variant.all %}
                                        
                                        {% for item in cart_item.product_variant.all %}
                                        {{ item.variant_types | capfirst }} : {{ item.variant_value }}<br>
                                        {% endfor %}
                                        {% endif %}
                                        </p>
                                </td>
                                <td class="column-2">
                                    
                                </td>
                                <td class="column-3">
                                    {{ user_pro.user_name }}
                                </td>
                               
                                <td class="column-4"> {{ user_pro.phone }}</td>

                              <!-- Your table row -->
                              <td class="column-2">
                                    
                              </td>
                              <td class="column-5">
                                $ {{ cart_item.product.price }}
                            </td>
                            <td class="column-5">
                                $ {{ cart_item.product.price }}
                            </td>
                          
                          </tr>
                        {% endfor %}
                            
                        </table>
                      
                    </div>
                    
                   
                    <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                      <a href="{% url 'user_app:order_track' %}" class="flex-c-m stext-101 cl2 size-119 bg8 bor13 p-lr-15 trans-04 pointer m-tb-10" >
                            Tracking Order
                        </a>
                        <div class="flex-w flex-m m-r-20 m-tb-5">
                            <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
                        {% comment %} <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                Apply coupon
                            </div>    {% endcomment %}
                       </div> 
                    </div>  
                </div>
               
            </div>

            <!--  Customer Address Right starts -->

            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <div class="mtext-109 cl2 p-b-30">
                        <h4> {{ user_pro.user_name }}</h4>

                         {% comment %} {{ user_pro.first_name }}
                         {{ user_pro.last_name }} {% endcomment %}
                         <div class="flex-w flex-t bor12 p-t-15 p-b-30 mx-auto ">
                             <img src="{{ user_profile_image_url }}" alt="Profile Image" class="img-fluid" style="width: 120px; height: 120px; display: flex; justify-content: center;
                             text-align: center;margin-left: 75px;">
                         </div>
                     </div>

                     
                     

                     <div class="flex-w flex-t bor12 p-t-15 p-b-30">
                         <div class="size-209">
                             <span class="mtext-110 cl2">
                                 {{ user_pro.email }}
                                 {{ user_pro.address_1 }}
                             </span>
                         </div>
                     </div>
                    <a href="{% url 'account:edit_profile' %}" class="flex-c-m stext-101 cl0 size-111 bg3 bor14 p-lr-15 trans-04 pointer btn-sm" style="text-decoration: none; color: white;">
                        My Profile
                    </a>
                    
                    <br>
                    <button class="flex-c-m stext-101 cl0 size-111 bg3 bor14 p-lr-15 trans-04 pointer btn-sm">
                        My Wishlist
                    </button>
                    <br>
                    <button class="flex-c-m stext-101 cl0 size-111 bg3 bor14 p-lr-15 trans-04 pointer btn-sm">
                        My Orders
                    </button>
                    <br>
                    <a href="{% url 'account:user_logout' %}" class="flex-c-m stext-101 cl0 size-111 bg3 bor14 p-lr-15 trans-04 pointer btn-sm" style="text-decoration: none; color: white;">
                        My Coupon
                    </a>
                    
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</form>
    

{% endblock %}
{% include 'footer.html' %}
