
{% load static %}
{% include 'shop_header.html' %}
{% block content %}

<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="{% url 'home_app:home' %}" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <a href="{% url 'outgoing_app:checkout' %}" class="stext-109 cl8 hov-cl1 trans-04">
            Checkout
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <span class="stext-109 cl4">
            Address
        </span>
    </div>
</div>
    

<!-- Delivery Details -->
<form class="bg0 p-t-75 p-b-85" action= "{% url 'order_app:place_order' %}" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <tr class="table_row">
                                <td class="column-1">
                                    <div class="col-lg-10">
                                        <br>
                                        <br>
                                        <h4>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                                            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
                                          </svg>
                                          <i class="bi bi-house-fill"></i> Your Address</h4>
                                       <br>
                                            <br>
                                            
                                            <div class="form-group row">
                                                <label for="user_name" class="col-sm-4 col-form-label">Full Name:</label>
                                                <div class="col-sm-8">
                                                 <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Enter Your Full Name" required>
                                                </div> 
                                                
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-4 col-form-label">Email:</label>
                                                <div class="col-sm-8">
                                                <input type="email" class="form-control" id="email" name="email"  placeholder="Enter Your Email" >
                                                </div>
                                                
                                            </div>
                                          
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-4 col-form-label">Phone:</label>
                                                <div class="col-sm-8">
                                                <input type="text" class="form-control" id="phone" name="phone"  placeholder="Enter Your Phone Number" >
                                                </div>
                                            </div>
                                        
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-4 col-form-label">Address</label>
                                                <div class="col-sm-8">
                                                <input type="text" class="form-control" id="address" name="address"  placeholder="Enter Your Address" >
                                                </div>
                                            </div>
                                          
                                           
                                       
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-4 col-form-label">City:</label>
                                                <div class="col-sm-8">
                                                <input type="text" class="form-control" id="city" name="city"  placeholder="Enter Your City" >
                                                </div>
                                            </div>
                                        
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-4 col-form-label">State:</label>
                                                <div class="col-sm-8">
                                                <input type="text" class="form-control" id="state" name="state"  placeholder="Enter Your State" >
                                                </div>
                                            </div>
                                         
                                            <div class="form-group row">
                                                <label for="phone" class="col-sm-4 col-form-label">Country:</label>
                                                <div class="col-sm-8">
                                                <input type="text" class="form-control" id="country" name="country"  placeholder="Enter Your Country" >
                                            </div>
                                            
                                            </div>
                                            {% comment %} <div class="form-group row">
                                                <label for="order_note" class="col-sm-4 col-form-label" >Order Note:</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" id="order_note" name="order_note" rows="4" placeholder="Enter Your Order Note">{{ form.order_note.value }}</textarea>
                                                </div>
                                            </div> {% endcomment %}

                                            <br>
                                            <a href="{% url 'account:address' %}"  class="flex-c-m stext-101 cl0 size-116 bg3 bor14 p-lr-15 trans-04 pointer" style="color: white;">
                                                New Address
                                            </a>
                                            <br>
                                            <button type="submit" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 p-lr-15 trans-04 pointer" style="color: white;">
                                                Save and Deliver Here
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!--  Customer Address Left ends -->


                <!--  Customer Address Right starts -->


                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <!-- Default address -->
                        <div class="flex-w flex-t bor12 p-t-15 p-b-30">
                            <div class="mtext-109 cl2 p-b-30">
                                <h6> {{ user_pro.user_name }}</h6>
                            </div>
                            <div class="size-209">
                                <span class="mtext-110 cl2" style="font-size: 15px;">
                                    {{ user.email }}
                                    {{user_pro.phone}}
                                </span>
                            </div>
                        </div>
                
                        <!-- Address options with radio buttons -->
                        {% for address in user_address %}
                            <div class="flex-w flex-t bor12 p-t-15 p-b-30">
                                 <!-- Checkbox for selecting the address -->
                                {% comment %} <input type="checkbox" name="selected_addresses" value="{{ address.id }}" data-address="{{ address.address }}" data-city="{{ address.city }}" data-state="{{ address.state }}" data-country="{{ address.country }}"> {% endcomment %}
                                <input type="checkbox" name="selected_addresses" value="{{ address.id }}" data-user-name="{{ address.new_name }}" data-email="{{ address.email }}" data-phone="{{ address.phone }}" data-address="{{ address.address }}" data-city="{{ address.city }}" data-state="{{ address.state }}" data-country="{{ address.country }}">

                                {% comment %} <!-- Radio button for selecting the address -->
                                <input type="radio" name="selected_address" value="{{ address.id }}"> {% endcomment %}
                                <div class="mtext-109 cl2 p-b-30"  >
                                    <h6> {{ address.new_name }}</h6>
                                </div>
                                
                                <div class="size-209">
                                    <span class="mtext-110 cl2" style="font-size: 15px;">
                                        {{ address.email }}
                                        {{address.phone}},
                                        {{ address.address}}
                                        {{address.city}},{{address.state}},{{address.country}}
                                    </span>
                                </div>
                            </div>
                        {% endfor %}


                        <div class="p-t-40">
                            <button type="button" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 p-lr-15 trans-04 pointer" style="color: white;" id="deliverButton">
                                Deliver to this Address
                            </button>
                           
                        </div>
                    </div>
                </div>
                <!--  Customer Address Right ends -->
            </div>
        </div>
    </form>
 


<script>
    document.getElementById('deliverButton').addEventListener('click', function() {
        // Find all selected checkboxes
        var selectedAddresses = document.querySelectorAll('input[name="selected_addresses"]:checked');
    
        // Check if at least one address is selected
        if (selectedAddresses.length > 0) {
            // Use the first selected address
            var selectedAddress = selectedAddresses[0];
            updateFormFields(selectedAddress);
        } else {
            // Fetch user data and populate the form fields with default address from user_pro
            var userPro = {
                user_name: "{{ user_pro.user_name }}",
                email: "{{ user_pro.user.email }}",
                phone: "{{ user_pro.phone }}",
                address: "{{ user_pro.address }}",
                city: "{{ user_pro.city }}",
                state: "{{ user_pro.state }}",
                country: "{{ user_pro.country }}",
                // Add other user-related fields as needed
            };
    
            // Populate the form fields
            document.getElementById('user_name').value = userPro.user_name;
            document.getElementById('email').value = userPro.email;
            document.getElementById('phone').value = userPro.phone;
            document.getElementById('address').value = userPro.address;
            document.getElementById('city').value = userPro.city;
            document.getElementById('state').value = userPro.state;
            document.getElementById('country').value = userPro.country;
    
            // Add any additional logic or adjustments based on your requirements
    
            // Optionally, you can submit the form programmatically
            // document.getElementById('yourFormId').submit();
        }
    });
    
    function updateFormFields(address) {
        // Populate the form fields with the selected address data
        document.getElementById('user_name').value = address.dataset.userName;
        document.getElementById('email').value = address.dataset.email;
        document.getElementById('phone').value = address.dataset.phone;
        document.getElementById('address').value = address.dataset.address;
        document.getElementById('city').value = address.dataset.city;
        document.getElementById('state').value = address.dataset.state;
        document.getElementById('country').value = address.dataset.country;
    }
</script>


{% endblock %}
{% include 'footer.html' %}