
{% load static %}
{% include 'shop_header.html' %}
{% include 'alert.html' %} 
{% block content %}

<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <div class='flex-w m-t-130 w-full' >
        <a href="{% url 'home_app:home' %}" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <a href="{% url 'outgoing_app:checkout' %}" class="stext-109 cl8 hov-cl1 trans-04">
            Checkout
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <span class="stext-109 cl4">
            Address
        </span>
    </div>
    </div>
</div>

<!-- Delivery Details -->
<form class="bg0 p-t-75 p-b-85" action= "{% url 'order_app:place_order' %}" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart" style="min-width: 645px;">
                            <tr class="table_row">
                                <td class="column-1">
                                    <div class="col-lg-10">
                                        <br>
                                        <br>
                                        <h4>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                                            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
                                          </svg>
                                          <i class="bi bi-house-fill"></i> Your Address</h4>
                                       <br>
                                            <br>
                                            
                                            <div class="form-group row">
                                                <label for="user_name" class="col-sm-4 col-form-label">Full Name:</label>
                                                <div class="col-sm-8">
                                                 <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Enter Your Full Name" required>
                                                </div> 
                                                
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-4 col-form-label">Email:</label>
                                                <div class="col-sm-8">
                                                <input type="email" class="form-control" id="email" name="email"  placeholder="Enter Your Email" >
                                                </div>
                                                
                                            </div>
                                          
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-4 col-form-label">Phone:</label>
                                                <div class="col-sm-8">
                                                <input type="text" class="form-control" id="phone" name="phone"  placeholder="Enter Your Phone Number" >
                                                </div>
                                            </div>
                                        
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-4 col-form-label">Address</label>
                                                <div class="col-sm-8">
                                                <input type="text" class="form-control" id="address" name="address"  placeholder="Enter Your Address" >
                                                </div>
                                            </div>
                                          
                                           
                                       
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-4 col-form-label">City:</label>
                                                <div class="col-sm-8">
                                                <input type="text" class="form-control" id="city" name="city"  placeholder="Enter Your City" >
                                                </div>
                                            </div>
                                        
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-4 col-form-label">State:</label>
                                                <div class="col-sm-8">
                                                <input type="text" class="form-control" id="state" name="state"  placeholder="Enter Your State" >
                                                </div>
                                            </div>
                                         
                                            <div class="form-group row">
                                                <label for="phone" class="col-sm-4 col-form-label">Country:</label>
                                                <div class="col-sm-8">
                                                <input type="text" class="form-control" id="country" name="country"  placeholder="Enter Your Country" >
                                            </div>
                                            
                                            </div>
                                            
                                            <br>
                                            <button type="submit" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 p-lr-15 trans-04 pointer" style="color: white;">
                                                Save and Deliver Here
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!--  Customer Address Left ends -->


                <!--  Customer Address Right starts -->


                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <!-- Default address -->
                        <div class="flex-w flex-t bor12 p-t-15 p-b-30">
                            <div class="mtext-109 cl2 p-b-30">
                                <h6> {{ user_pro.user_name }}</h6>
                            </div>
                            <div class="size-209">
                                <span class="mtext-110 cl2" style="font-size: 15px;">
                                    {{ user.email }}
                                    {{user_pro.phone}}
                                </span>
                            </div>
                        </div>
                                    
                    <!-- Address options with radio buttons -->
                    {% for address in user_address %}
                        <div class="flex-w flex-t bor12 p-t-15 p-b-30">
                            <!-- Radio button for selecting the address -->
                            <input type="radio" name="selected_address" value="{{ address.id }}" data-user-name="{{ address.new_name }}" data-email="{{ address.email }}" data-phone="{{ address.phone }}" data-address="{{ address.address }}" data-city="{{ address.city }}" data-state="{{ address.state }}" data-country="{{ address.country }}">




                            <div class="mtext-109 cl2 p-b-30">
                                <h6> {{ address.new_name }}</h6>
                            </div>
                            {% comment %} <a href="#"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413zm-3-3l1.587 1.585l-1.59 1.584l-1.586-1.585zM6 16v-1.585l7.04-7.018l1.586 1.586L7.587 16zm-2 4h16v2H4z"/></svg> {% endcomment %}
                            <a href="#" data-toggle="modal" data-target="#editModal{{ forloop.counter }}" style="color: #808080; text-align: right; display: inline-block; margin-left: 126px;" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" style="vertical-align: middle;">
                                    <path fill="#808080" d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413zm-3-3l1.587 1.585l-1.59 1.584l-1.586-1.585zM6 16v-1.585l7.04-7.018l1.586 1.586L7.587 16zm-2 4h16v2H4z"/>
                                </svg>
                            </a>
                            
                            <a href="#" data-toggle="modal" data-target="#deleteModal{{ forloop.counter }}" style="color: #808080; text-align: right; display: inline-block;" >
                            <svg xmlns="http://www.w3.org/2000/svg"  width="1em" height="1em" viewBox="0 0 29 29" id="delete">
                                <path fill="#808080" d="M24.2,12.193,23.8,24.3a3.988,3.988,0,0,1-4,3.857H12.2a3.988,3.988,0,0,1-4-3.853L7.8,12.193a1,1,0,0,1,2-.066l.4,12.11a2,2,0,0,0,2,1.923h7.6a2,2,0,0,0,2-1.927l.4-12.106a1,1,0,0,1,2,.066Zm1.323-4.029a1,1,0,0,1-1,1H7.478a1,1,0,0,1,0-2h3.1a1.276,1.276,0,0,0,1.273-1.148,2.991,2.991,0,0,1,2.984-2.694h2.33a2.991,2.991,0,0,1,2.984,2.694,1.276,1.276,0,0,0,1.273,1.148h3.1A1,1,0,0,1,25.522,8.164Zm-11.936-1h4.828a3.3,3.3,0,0,1-.255-.944,1,1,0,0,0-.994-.9h-2.33a1,1,0,0,0-.994.9A3.3,3.3,0,0,1,13.586,7.164Zm1.007,15.151V13.8a1,1,0,0,0-2,0v8.519a1,1,0,0,0,2,0Zm4.814,0V13.8a1,1,0,0,0-2,0v8.519a1,1,0,0,0,2,0Z"></path>
                            </svg>
                            </a>
                            
                            <div class="size-209">
                                <span class="mtext-110 cl2" style="font-size: 15px;">
                                    {{ address.email }}
                                    {{ address.phone }},
                                    {{ address.address }}
                                    {{ address.city }},{{ address.state }},{{ address.country }}
                                </span>
                            </div>
                        </div>
                    {% endfor %}



                        <div class="p-t-40">
                            <br>
                            
                            
                         
                            <button type="button" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 p-lr-15 trans-04 pointer" style="color: white;" id="deliverButton">
                                Deliver to this Address
                            </button>
                            <br>
                            <button type="button" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 p-lr-15 trans-04 pointer" style="color: white;" data-toggle="modal" data-target="#newAddressModal">
                                New Address
                            </button>
                           
                        </div>
                    </div>
                </div>
                <!--  Customer Address Right ends -->
            </div>
        </div>
    </form>
 
<!--Add New Address Modal -->
<div class="modal fade" id="newAddressModal" tabindex="-1" role="dialog" aria-labelledby="newAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 70px;">
        <div class="modal-content" style="font-family: 'Poppins-Regular'; justify-content: center; text-align: center;">
            <div class="modal-header">
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- Include the content of the modal here -->
                <div class="col-lg-11">
                  
                <h4>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
                      </svg>
                      <i class="bi bi-house-fill"></i> Add Address</h4>
                   <br>
                        <br>
                        <form method="POST" action="{% url 'account:add_address' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                        
                        <div class="form-group row">
                            <label for="user_name" class="col-sm-4 col-form-label">Full Name:</label>
                            <div class="col-sm-8">
                             <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Enter Your Full Name" required>
                            </div> 
                            
                        </div>
                        
                        <div class="form-group row">
                            <label for="email" class="col-sm-4 col-form-label">Email:</label>
                            <div class="col-sm-8">
                            <input type="email" class="form-control" id="email" name="email"  placeholder="Enter Your Email" >
                            </div>
                            
                        </div>
                      
                        <div class="form-group row">
                            <label for="email" class="col-sm-4 col-form-label">Phone:</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="phone" name="phone"  placeholder="Enter Your Phone Number" >
                            </div>
                        </div>
                    
                        <div class="form-group row">
                            <label for="email" class="col-sm-4 col-form-label">Address</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="address" name="address"  placeholder="Enter Your Address" >
                            </div>
                        </div>
                      
                       
                   
                        <div class="form-group row">
                            <label for="email" class="col-sm-4 col-form-label">City:</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="city" name="city"  placeholder="Enter Your City" >
                            </div>
                        </div>
                    
                        <div class="form-group row">
                            <label for="email" class="col-sm-4 col-form-label">State:</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="state" name="state"  placeholder="Enter Your State" >
                            </div>
                        </div>
                     
                        <div class="form-group row">
                            <label for="phone" class="col-sm-4 col-form-label">Country:</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="country" name="country"  placeholder="Enter Your Country" >
                        </div>
                        
                        </div>
                      

                        <br>
                        
                        <button type="submit" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 p-lr-15 trans-04 pointer" style="color: white;">
                            Add Address
                        </button>
                       
                        <br>
                        
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add New Address Modal Ends Here-->

<!-- Edit Modal -->
{% for address in user_address %}
<div class="modal fade" id="editModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel{{ forloop.counter }}" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 70px;">
        <div class="modal-content" style="font-family: 'Poppins-Regular'; justify-content: center; text-align: center;">
           <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button> 
            </div> 
            
            <div class="modal-body">
                <div class="col-lg-11" id="editModalLabel{{ forloop.counter }}">
                    
                    <h4>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
                      </svg>
                      <i class="bi bi-house-fill"></i> Edit Address</h4>
                   <br>
                        <br>
                        
                        <form method="POST" action="{% url 'account:edit_address' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ address.id }}">
                        
                        <div class="form-group row">
                            <label for="user_name{{ forloop.counter }}" class="col-sm-4 col-form-label">Full Name:</label>
                            <div class="col-sm-8">
                             <input type="text" class="form-control" id="new_name{{ forloop.counter }}" name="edit_new_name" value="{{ address.new_name }}" required>
                            </div> 
                            
                        </div>
                        
                        <div class="form-group row">
                            <label for="edit_email{{forloop.counter}}" class="col-sm-4 col-form-label">Email:</label>
                            <div class="col-sm-8">
                            <input type="email" class="form-control" id="edit_email{{ forloop.counter }}" name="edit_email"  value="{{ address.email }}" >
                            </div>
                            
                        </div>
                      
                        <div class="form-group row">
                            <label for="edit_phone{{forloop.counter}}" class="col-sm-4 col-form-label">Phone:</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="edit_phone{{forloop.counter}}" name="edit_phone"  value="{{ address.phone }}" >
                            </div>
                        </div>
                    
                        <div class="form-group row">
                            <label for="edit_address{{forloop.counter}}" class="col-sm-4 col-form-label">Address</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="edit_address{{forloop.counter}}" name="edit_address" value="{{ address.address }}" >
                            </div>
                        </div>
                      
                       
                   
                        <div class="form-group row">
                            <label for="edit_city{{forloop.counter}}" class="col-sm-4 col-form-label">City:</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="edit_city{{forloop.counter}}" name="edit_city"  value="{{ address.city }}" >
                            </div>
                        </div>
                    
                        <div class="form-group row">
                            <label for="edit_state" class="col-sm-4 col-form-label">State:</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="edit_state" name="edit_state"  value="{{ address.state }}" >
                            </div>
                        </div>
                     
                        <div class="form-group row">
                            <label for="edit_country" class="col-sm-4 col-form-label">Country:</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="edit_country" name="edit_country"  value="{{ address.country }}" >
                        </div>
                        
                        </div>
                      

                        <br>
                        
                        <button type="submit" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 p-lr-15 trans-04 pointer" style="color: white;">
                            Edit Address
                        </button>
                       
                        <br>
                       
                    </form>
                    </div>
            </div>
         
        </div>
    </div>

</div>
{% endfor %}
<!--edit modal ends here-->



<!--delete modal -->
{% for address in user_address %}
<div class="modal fade" id="deleteModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ forloop.counter }}" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 70px;">
      <div class="modal-content">
        <div class="modal-header">
            <input type="hidden" name="user_id" value="{{ address.id }}"> 
          <h5 class="modal-title" id="deleteModalLabel{{ forloop.counter }}">Delete Address - {{ address.new_name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this category?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href="{% url 'account:delete_address' address.id %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<!--delete modal ends here-->





<script>


    document.getElementById('deliverButton').addEventListener('click', function() {
        // Find the selected radio button
        var selectedAddress = document.querySelector('input[name="selected_address"]:checked');
    
        // Check if a radio button is selected
        if (selectedAddress) {
            // Populate the form fields with the selected address data
            updateFormFields(selectedAddress);
        } else {
            // Fetch user data and populate the form fields with default address from user_pro
            var userPro = {
                user_name: "{{ user_pro.user_name }}",
                email: "{{ user_pro.user.email }}",
                phone: "{{ user_pro.phone }}",
                address: "{{ user_pro.address }}",
                city: "{{ user_pro.city }}",
                state: "{{ user_pro.state }}",
                country: "{{ user_pro.country }}",
                // Add other user-related fields as needed
            };
    
            // Populate the form fields
            document.getElementById('user_name').value = userPro.user_name;
            document.getElementById('email').value = userPro.email;
            document.getElementById('phone').value = userPro.phone;
            document.getElementById('address').value = userPro.address;
            document.getElementById('city').value = userPro.city;
            document.getElementById('state').value = userPro.state;
            document.getElementById('country').value = userPro.country;
    
            // Add any additional logic or adjustments based on your requirements
    
            // Optionally, you can submit the form programmatically
            // document.getElementById('yourFormId').submit();
        }
    });
    
    function updateFormFields(address) {
        // Populate the form fields with the selected address data
        document.getElementById('user_name').value = address.dataset.userName;
        document.getElementById('email').value = address.dataset.email;
        document.getElementById('phone').value = address.dataset.phone;
        document.getElementById('address').value = address.dataset.address;
        document.getElementById('city').value = address.dataset.city;
        document.getElementById('state').value = address.dataset.state;
        document.getElementById('country').value = address.dataset.country;
    }
    
</script>


{% endblock %}
{% include 'footer.html' %}