{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
{% include "alert.html" %}



       
  
<!-- Content wrapper -->
<div class="content-wrapper">
              <!-- Content -->
  
              <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Order Management</h4>
               <hr class="my-5" />
               
                <div class="card">
                  <h5 class="card-header">Order List</h5>
                  <div class="table-responsive text-nowrap">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Order Id</th>
                          <th>User Name</th>
                          <th>Date</th>
                          <th>Status</th>
                          
                          
                          <th>Customer Email</th>
                          <th>Ordered Product</th>
                       
                          <th>Payment Method</th>
                          <th>Total</th>
                          
                        </tr>
                      </thead>
                      <tbody class="table-border-bottom-0">
                        {% for order in order_product %}
                        {% comment %} {% if order.order.status != "Return" %} {% endcomment %}
                        {% if order.order.status != 6 and order.order.status != 7 %}
                        {% if order.order.id|changed %}
                        <tr>
                          <td><i class="fab fa-react fa-lg text-info me-3"></i> <strong>{{ order.order.id }}</strong></td>
                          <td>{{ order.user.user_name}}</td>
                          <td>{{order.created_at}}</td>
                         
                          
                          <td>
                            <span class="badge badge-sm badge-dot has-bg 
                            {% if order.order.status == 1 %}bg-success
                            {% elif order.order.status == 2 %}bg-info
                            {% elif order.order.status == 3 %}bg-warning
                            {% elif order.order.status == 4 %}bg-primary
                            {% elif order.order.status == 5 %}bg-secondary
                            {% elif order.order.status == 6 %}bg-danger
                            {% else %}bg-secondary
                            {% endif %} d-none d-sm-inline-flex">
                            {{ order.order.get_status_display }}
                            </span>
                          </td>
                        
                          <td>{{order.order.email }}</td>
                          <td>
                            {% for product in order.order.orderproduct_set.all %}
                                <div>
                                    {{ product.product.product_name }} - 
                                    <span class="badge badge-sm badge-dot has-bg
                                        {% if product.status == 'New' %}bg-success
                                        {% elif product.status == 'Accepted' %}bg-info
                                        {% elif product.status == 'Cancelled' %}bg-danger
                                        {% else %}bg-secondary
                                        {% endif %} d-none d-sm-inline-flex">
                                        {{ product.status }}
                                    </span>
                                </div>
                            {% endfor %}
                        </td>
                          <td>{{order.order.payment.payment_method }}</td>
                          <td>
                            {% for product in order.order.orderproduct_set.all %}
                                {{ product.subtotal }}
                                <br>
                            {% endfor %}
                        </td>
                          
                         
                          
                          <td><span class="badge bg-label-success me-1"></span>
                            <div class="dropdown">
                              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                              </button>
                              <a href="{% url 'admin_panel:order_details' order.order.id %}">  
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                              </svg><i class="bi bi-eye-fill"></i>
                            </a>  
                             
      
                              <div class="dropdown-menu dropdown-menu-end" style="min-width: 200px; padding: 10px;">
                                        
                                <form action="{% url 'admin_panel:order_list' %}" method="POST" >
                                    {% csrf_token %}
                        
                                    <div style="margin-bottom: 10px;">
                                        <select class="form-control" id="variant" name="orderStatus" style="width: 100%;">
                                            <option value="" disabled selected>Order Status</option>
                                            {% for order_choice in order_status %}
                                                <option value="{{ order_choice.0 }}">{{ order_choice.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    
                                    <input type="hidden" name="orderId" value="{{ order.order.id }}">
                                    <input type="hidden" name="variantId" value="{{ order.product_variant.id }}">
                        
                                    <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
                                </form>
                              
                            </div>
                            </div>
                          </td>
                        </tr>
                      
                      {% endif %}
                      {% endif %}
                      {% endfor %}
                      
                    </tbody>
                    </table>
                  </div>
                </div>




                
              <!--/ Hoverable Table rows -->
             </div>
              <!-- / Content -->
  
  


  


{% endblock %}       





  
  