{% extends "base.html" %}

{% load static %}


    
{% block content %}


       
  
<!-- Content wrapper -->
<div class="content-wrapper">
              <!-- Content -->
  
              <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Order Management</h4>
               <hr class="my-5" />
                
                {% comment %} {% if messages %}
                <div>
                    {% for message in messages %}
                        <div style="color: {% if message.tags == 'success' %}#94c494{% else %}red{% endif %}; padding: 10px; margin: 5px;">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %} {% endcomment %}
                <!-- Hoverable Table rows -->
                <div class="card">
                  <h5 class="card-header">Order List</h5>
                  <div class="table-responsive text-nowrap">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Order Id</th>
                          <th>User Name</th>
                          <th>Date</th>
                          <th>Status</th>
                          <th>User Status</th>
                          <th>Customer Email</th>
                          <th>Payment Method</th>
                          <th>Total</th>
                          <th>Order Status</th>
                        </tr>
                      </thead>
                      <tbody class="table-border-bottom-0">
                        {% for order in order_product %}
                        {% if order.order.status != "Cancelled" %}
                        <tr>
                          <td><i class="fab fa-react fa-lg text-info me-3"></i> <strong>{{ forloop.counter }}</strong></td>
                          <td>{{ order.user.user_name}}</td>
                          <td>{{order.created_at}}</td>
                          <td>{{order.order.status}}</td>
                          <td>
                            <span class="badge badge-sm badge-dot has-bg
                                {% if order.status == 'New' %}bg-success
                                {% elif order.status == 'Accepted' %}bg-info
                                {% elif order.status == 'Cancelled' %}bg-danger
                                {% else %}bg-secondary
                                {% endif %} d-none d-sm-inline-flex">
                                {{ order.status }}
                            </span>
                        </td>
                          <td>{{order.order.email }}</td>
                          <td>{{order.order.payment.payment_method }}</td>
                          <td>{{order.order.order_total}}</td>
                         
                          
                          <td><span class="badge bg-label-success me-1"></span>
                            <div class="dropdown">
                              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                              </button>
                              {% comment %} <a href="{% url 'admin_panel:customer_order_details' %}">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                              </svg><i class="bi bi-eye-fill"></i>
                            </a> {% endcomment %}
                             
      
                              <div class="dropdown-menu dropdown-menu-end" style="min-width: 200px; padding: 10px;">
                                        
                                <form action="{% url 'admin_panel:order_list' %}" method="POST" >
                                    {% csrf_token %}
                        
                                    <div style="margin-bottom: 10px;">
                                        <select class="form-control" id="variant" name="orderStatus" style="width: 100%;">
                                            <option value="" disabled selected>Order Status</option>
                                            {% for order_choice in order_status %}
                                                <option value="{{ order_choice.0 }}">{{ order_choice.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                        
                                    <input type="hidden" name="orderId" value="{{ order.order.id }}">
                        
                                    <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
                                </form>
                              
                            </div>
                            </div>
                          </td>
                        </tr>
                      
                      {% endif %}
                      {% endfor %}
                      
                    </tbody>
                    </table>
                  </div>
                </div>
              <!--/ Hoverable Table rows -->
             </div>
              <!-- / Content -->
  
  


  


{% endblock %}       





  
  