<style>
    .swal2-container {
        z-index: 99999; /* Adjust the value based on your needs */
        position: relative;
    }
  </style>
  
  {% if messages %}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      {% for message in messages %}
        {% if message.tags %}
          {% if 'error' in message.tags %}
            Swal.fire({
              icon: "error",   
              toast: true,
              position: "top-end",
              showConfirmButton: false,
              timer: 4000,
              timerProgressBar: true,
              html: '<span style="color: red;">😢</span> {{ message }}', 
              didOpen: (toast) => {
                toast.addEventListener("mouseenter", Swal.stopTimer);
                toast.addEventListener("mouseleave", Swal.resumeTimer);
              }
            });
          {% elif 'success' in message.tags %}
            Swal.fire({
              icon: "success",
              toast: true,
              position: "top-end",
              showConfirmButton: false,
              timer: 4000,
              timerProgressBar: true,
              html: '<span>👋</span> {{ message }}',
              didOpen: (toast) => {
                toast.style.zIndex = 99999;
                toast.addEventListener("mouseenter", Swal.stopTimer);
                toast.addEventListener("mouseleave", Swal.resumeTimer);
              }
            });
  
           
          {% endif %}
        {% endif %}
      {% endfor %}
    });
  </script>
  {% endif %}
  

