{% load static %}
{% include 'shop_header.html' %}
{% block content %}


<div style="text-align: center; margin-top: 20px;">
    <span class="block1-name ltext-102 trans-04 p-b-8">
        PROFILE
    </span>
</div>
<!-- Profile -->
<form class="bg0 p-t-75 p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <tr class="table_row">
                                <td class="column-1">
                                    

                                    <div class="col-lg-10">
                                
                                       
                                            <br>
                                            <br>
                                            <div class="form-group row">
                                                <label for="username" class="col-sm-4 col-form-label">Full Name:</label>
                                                <div class="col-sm-8">
                                                    <div  class="form-control" id="username" name="username" readonly style="color: black; background-color: #ffffff; pointer-events: none;">
                                                    {{ user_pro.user_name }}</div>
                                                </div>
                                            </div> 
                                            <div class="form-group row">
                                                <label for="phone" class="col-sm-4 col-form-label">Phone:</label>
                                                <div class="col-sm-8">
                                                <div class="form-control" id="phone" name="phone" readonly style="color: black; background-color: #ffffff; pointer-events: none;" >
                                                    {{ user_pro.phone }}</div>
                                                </div>
                                            </div>
                                          
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-4 col-form-label">Email:</label>
                                                <div class="col-sm-8">
                                                <div  class="form-control" id="email" name="email" readonly style="color: black; background-color: #ffffff; pointer-events: none;" >
                                                    {{ user.email }}</div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="address" class="col-sm-4 col-form-label">Address:</label>
                                                <div class="col-sm-8">
                                                <div class="form-control" id="address" name="address" readonly style="color: black; background-color: #ffffff; pointer-events: none;">
                                                    {{ user_pro.address }}
                                                </div>
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="form-group row">
                                                <label for="country" class="col-sm-4 col-form-label">Location:</label>
                                                <div class="col-sm-8">
                                                <div  class="form-control" id="country" name="country"  readonly style="color: black; background-color: #ffffff; pointer-events: none;">
                                                    {{ user_pro.city }},{{ user_pro.state }},{{ user_pro.country }}
                                                </div>
                                                </div>
                                            </div>

                                          
                                        
                                            <!-- Add more fields for address, city, state, country, etc. -->
                                        <br>
                                        
        
                                        </div>

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                        <a href="{% url 'shop_app:shop' %}" class="flex-c-m stext-101 cl2 size-119 bg8 bor13 p-lr-15 trans-04 pointer m-tb-10" >
                              Continue Shopping
                          </a>
                          <a href="{% url 'coupon_app:coupon' %}" class="flex-c-m stext-101 cl2 size-119 bg8 bor13 p-lr-15 trans-04 pointer m-tb-10" >
                            Proceed to Coupon
                        </a>
                          
                      </div>
                    
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <div class="flex-w flex-t bor12 p-t-15 p-b-30 mx-auto ">
                        <img src="{{ user_profile_image_url }}" alt="Profile Image" class="img-fluid" style="width: 120px; height: 120px; display: flex; justify-content: center;
                        text-align: center;margin-left: 75px;">
                    </div>
                   

                    <a href="{% url 'account:edit_profile' %}" class="flex-c-m stext-101 cl0 size-111 bg3 bor14 p-lr-15 trans-04 pointer btn-sm" style="text-decoration: none; color: white;">
                        Edit Profile
                    </a>
                    
                    <br>
                    <a href="{% url 'account:change_password' %}" class="flex-c-m stext-101 cl0 size-111 bg3 bor14 p-lr-15 trans-04 pointer btn-sm" style="text-decoration: none; color: white;">
                        Change Password
                    </a>
                    <br>
                    <a href="{% url 'user_app:user_order' %}" class="flex-c-m stext-101 cl0 size-111 bg3 bor14 p-lr-15 trans-04 pointer btn-sm" style="text-decoration: none; color: white;">
                        My Orders
                    </a>
                    <br>
                    <a href="{% url 'account:user_logout' %}" class="flex-c-m stext-101 cl0 size-111 bg3 bor14 p-lr-15 trans-04 pointer btn-sm" style="text-decoration: none; color: white;">
                        Log out
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</form>
     



{% endblock %}
{% include 'footer.html' %}